.container {
    display: inline-block;
    width: 100%;
    padding: calc(var(--section-padding) * 2) 0;
}
    .container > .row-short {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
        background-color: antiquewhite;
    }
    .container > .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc(50% - 500px);
        background-color: aquamarine;
    }
        .container > .row > .column {
            display: inline-block;
            float: left;
        }
            .container > .row > .column.left {
                width: 50%;
                background-color: orange;
            }
            .container > .row > .column.right {
                width: 40%;
                margin-left: 10%;
                background-color: tomato;
            }